/ppo_rocket_1000.pth
/ppo_rocket_10000.pth
/ppo_rocket_2000.pth
/ppo_rocket_3000.pth
/ppo_rocket_4000.pth
/ppo_rocket_5000.pth
/ppo_rocket_6000.pth
/ppo_rocket_7000.pth
/ppo_rocket_8000.pth
/ppo_rocket_9000.pth